// Comentário não aprece no css quando utilizado o watch
/* Variaveis de definição dos estilos
    * variaveis de cor
    * variaveis de sombras
    * variaveis de bordas
    * aplicaveis até o momento */
$bg-color: #ddd
$title-background: #111
$title-color: #f9f2d5
$title-color-desc: #e4f09d
$shadow: 5px 5px 5px #fff
$box-border: 2px solid #fff
$radius: 1rem

/*! Estilos do container */
.container
    background-color: $title-background
    padding: 1em
    text-align: center
    display: flex
    flex-direction: column
    align-items: center

    #title 
        color: $title-color
    
    &-content
        color: $title-color-desc
        text-align: center
        text-shadow: $shadow
        height: 1.5rem
        width: 20rem
        border: $box-border
        border-radius: $radius
        display: flex
        align-items: center
        justify-content: center

.container-middle

    display: flex
    justify-content: center

    h2
        color: #066616
    
    li
        padding: 5px
        list-style-type: none
        
        a
            text-decoration: none
            color: #4c0457 
            transition: .5s
            padding: 10px
            border: 1px solid #9c09b3
            border-radius: 5px
            display: block
            width: 150px
            text-align: center

            &:hover
                background-color: #5e5d5d
                color: #f82f2f

    ol
        > li
            color: #ee500c 
            list-style-type: upper-roman
                

article, main
    background: #ddd

    p, h3
        color: blue

main

    .p-verde
        color: #087208

    p
        color: #771b7a

.container-bottom
    background-color: #4b4a4a
    text-align: center
    padding: 50px

    h3
        color: #ddd

.spacing
    padding: 100px
    margin: 0.5em
    background: linear-gradient(0.25turn, #6a6969, #fb7575)
    border: 1px solid #090808
    border-radius: 10px


.btn
    margin: 0.5em
    padding: 10px 20px
    border: 1px solid #3207f4
    border-radius: 5px
    color: #fff
    background-color: #1a0767 
    cursor: pointer

    &-success
        background-color: #0dd159
        border-color: #0dd159
    
    &-danger
        background-color: #890404
        border-color: #f90808