// Variaveis de escopo global
$text-color: #7265bc
$bg-color: #4c4949
$h2-color: #202020

h1
    color: $text-color

p
    color: $text-color
    border: $border
    font-size: $main-font
    margin: #{$mx + 10px}
    padding: #{$px + $py}

a
    color: $text-color

div
    p
        //variaveis de escopo local
        $font-color: #fff
        $font2-color: #f80808
        // shadowing -> utilizando o mesmo nome de variavel em escopos diferentes
        $border: 3px dotted green
        background-color: $bg-color
        padding: 0.5em
        color: $font-color
        border: $border

        span
            color: $font2-color
            border-bottom: 2px groove #3737df

h2
    color: $h2-color

.container
    background-color: #ccc
    padding: 20px
    margin: 20px

    &-content // .container-content
        color: #b90202

.spacing
    padding: 200px